/* اولوية تنقيذ الكود في اللغة */


/* اخر قيمة ينفذها */

/* اولوية تنقيذ الكود بين ال 3 انواع تكون من الاعلى الى الاسفل 
    اي اخر نوع في صفحة تمل هو لي يتنفذ */

    /* الكود يتنفذ من الاعلى الى الاسفل في اللغتين */
p{
    color:brown;
    color:red;
    /* color the p is red */
}
p{
    color:green;
    /* color the p is green */
}