/* 
   & 1 مصير المكان الاصلي
   & 2 حركة العنصر ستكون نسبة لمين
*/
.container{
    background-color: rgb(255, 0, 157);
    padding: 10px;
    height: 600px;
    width: 600px;
}

.container2{
    background-color: rgb(1, 78, 24);
    padding: 10px;
    height: 400px;
    width: 400px;

}

.parent{
    background-color: aqua;
    padding: 10px;
    height: 300px;
    width: 200px;
    position: relative;
}

.parent > div {
    height: 50px;
}

.one{
    background-color: red;
}


.tow{
    background-color: yellow;

    position: sticky;

    top: 10px;



}


.three{
    background-color: darkviolet;
}


/* 
FIXED
.tow{
    background-color: yellow;

    position: fixed;
width: fit-content
    left: 20px;
    bottom: 20px;

    fixed in screen

} */
