/* discendant selector */

/* لي فيها الدقة اكثر هي لي تطبق */
/* div ul li{
    color: red;
}

div li{
    color: green;
}


ul li{
    color: blue;
}
 */

/* ------------------------------------------- class and id -------------------------------------------------- */

/* .container .list #item1{
    color:red;
} */





/* ======================================================================================= */

 /* direct child selector */

/* div > ul > li{
    color:red;
} */

/* ------------------------------------------- class and id -------------------------------------------------- */
.container > .list > #item1{
    color:red;
}

