/* 
& hide => (visibility: hidden;)
& delete => (display: none;)
& transparency => ()
*/

.first{
    background-color: red;
    visibility: hidden; /* ^ defauld value is visible*/
}
.second{
    background-color: blue;
    display: none; /* ^ delete position*/
}
.thrid{
    background-color: green;
    opacity: 0.4; /* ^ transparency*/
}